doctype html
html
    head
        title= "Kademlia"
        meta(http-equiv="refresh", content="3;url=/api/kademlia")
        style
            include style.css
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")

    body
        div.container
            h1 Attempting to join network
            p Returning to overview in 3 seconds
            img(src="https://puu.sh/xxe6W/d64b6061bd.gif")